body{
  margin: 0;padding: 0;
  background: url(11.png);
  background-size: cover;
  font-family: sans-serif;
}

*{
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.box-menu{
  background-color: #3406D1;
  text-align: center;
}
.box-menu ul{
  display: inline-flex;
  list-style: none;
  color: #fff;
}
.box-menu ul li{
  width: 145px;
  margin: 5px;
  padding: 5px;
}
.box-menu ul li a{
  color: #fff;
  text-decoration: none;
}
.active,.box-menu ul li:hover{
  background: #00E8FF;
  border-radius: 3px;
}
.box-menu .fa{
  margin-right: 5px;
}
.box-submenu{
  display: none;
}
.box-menu ul li:hover .box-submenu{
  display: block;
  position: absolute;
  background-color: blue;
  margin-top: 5px;
  margin-left: -15px;
}
.box-menu ul li:hover .box-submenu ul{
  display: block;
  margin: 0px;padding: 0px;
}
.box-menu ul li:hover .box-submenu ul li{
  width: 220px;
  text-align: left;
  border-bottom: dotted 2px #fff;
  background: transparent;
  border-radius: 0;
  padding: 15px;
  margin: 10px;
}
.box-menu ul li:hover .box-submenu ul li :last-child{
  border-bottom: none;
}
.box-menu ul li:hover .box-submenu ul li a:hover{
    color: yellowgreen;
}